@model List<TaskListAllDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (Model.Count != 0)
{
    <table class="table table-hover table-sm mt-2 table-bordered">
        <tr>
            <th>Ad</th>
            <th>Oluşturulma Tarihi</th>
            <th>Çalışan Personel</th>
            <th>Aciliyet</th>
            <th>Raporlar</th>
            <th>İşlem</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.CreatedDate.ToString("D")</td>
                <td>
                    @{
                        if (item.AppUser == null)
                        {
                            <span class="badge badge-danger"><i class="fas fa-user-minus mr-2"></i>Çalışan personel yok</span>
                        }
                        else
                        {
                            <span class="badge badge-success"><i class="fas fa-user-check mr-2"></i>@item.AppUser.Name çalışıyor</span>
                        }
                    }
                </td>
                <td>@item.Importance.Definition</td>
                <td>@item.Reports.Count</td>
                <td>
                    @{
                        if (item.AppUser == null)
                        {
                            <a asp-action="AssignStaff" asp-route-id="@item.Id" class="btn btn-info btn-sm"><i class="fas fa-user-plus mr-2"></i>Personel Ata</a>
                        }
                        else
                        {
                            <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-info btn-sm"><i class="fas fa-info-circle mr-2"></i>Detay Göster</a>
                        }
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class=" my-2 text-center lead">
        Herhangi bir görev bulunmamaktadır.
    </div>
}

