@model AppUserListDto

@{
    string active = string.Empty;
    if (TempData["Active"] != null)
    {
        active = TempData["Active"].ToString();
    }
    //string active2 = TempData["Active"]?.ToString();
}

<div class="border border-right " id="sidebar-wrapper">
    <div class="sidebar-heading"><img src="~/img/@Model.Picture" alt="@Model.Name" style="height:10rem!important;" class="w-auto modal-dialog-centered img-thumbnail mx-auto" /></div>
    <div class="list-group list-group-flush">
        <div class="list-group list-group-flush">
            <a asp-action="Index" asp-controller="Home" class="list-group-item list-group-item-action @(active=="home"?"active":"")">
                <i class="fas fa-home mr-2"></i>Anasayfa
            </a>
            <a asp-action="Index" asp-controller="Task" class="list-group-item list-group-item-action @(active=="task"?"active":"")">
                <i class="fas fa-tasks mr-2"></i> Görev İşlemleri
            </a>
            <a asp-action="Index" asp-controller="Importance" class="list-group-item list-group-item-action @(active=="importance"?"active":"")">
                <i class="fas fa-exclamation-circle mr-2"></i>Aciliyet işlemleri
            </a>
            <a asp-action="Index" asp-controller="workOrder" class="list-group-item list-group-item-action  @(active=="workorder"?"active":"")">
                <i class="fas fa-business-time mr-2"></i>İş Emirleri
            </a>
            <a asp-action="Index" asp-controller="Graphic" class="list-group-item list-group-item-action @(active=="graphic"?"active":"")">
                <i class="fas fa-chart-pie mr-2"></i>Grafikler
            </a>
            <a asp-action="Index" asp-controller="Notification" class="list-group-item list-group-item-action @(active=="notification"?"active":"") position-relative ">
                <i class="fas fa-bell mr-2"></i>
                @if (ViewBag.NotificationCount > 0)
                {
                    <sub class="badge badge-primary badge-pill position-absolute" style="bottom:1rem!important; left:7.6rem!important">@ViewBag.NotificationCount</sub>
                }
                Bildirimler
            </a>
            <a asp-action="Index" asp-controller="Profile" class="list-group-item list-group-item-action  @(active=="profile"?"active":"")">
                <i class="fas fa-user mr-2"></i>Profil
            </a>
            <a asp-area="" asp-action="SignOut" asp-controller="Home" class="list-group-item list-group-item-action ">
                <i class="fas fa-sign-out-alt mr-2"></i>Çıkış
            </a>
        </div>
    </div>
</div>
